<html>
<head>
<title>title</title>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
$("#btn1").click(function(){
		$("p").hide()
	})})
</script>

</head>
<body>
<select>
	<option>a</option>
	<option>b</option>
	<option id="c">c</option>
	<option>d</option>
</select>
<button id="btn1">hide</button>
<button id="btn2">show</button>
<p>jgajlgjal</p>
<a href="http://www.huazhu.com">huazhu</a>
<form>
<input type="text"></br>
<input type="password"></br>
<input type="radio"></br>
<input type="checkbox"></br>
<input type="submit"></br>
</form>
</body>
<script>
$(document).ready(function(){
	$("#btn2").click(function(){
		$("p").show()
	})})
</script>

</html>